{{#each users}}
	<div class="center score-text mb-10px">{{username}}</div>
	<div class="center">High Score: {{high_score}}</div>
	<div class="center">Number Of Plays: {{number_of_plays}}</div>
	<div class="center">Total Points: {{total_points}}</div>
	<div class="center">Average Score: {{average total_points number_of_plays}}</div>
{{/each}}